ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    width: 100px;
    color: #000000;
    background-color: grey;
    padding: 16px;
}

li a:hover{
    background-color: green;
    color: red;
}