#img1{
    border-width: 5px;
    border-color: blue;
    border-style: solid;
}

#img2{
    border-width: 5px;
    border-color: blue;
    border-style: solid;
}

#img3{
    border-width: 5px;
    border-color: blue;
    border-style: solid;
}

#container{
    margin-left: 50%;
}